<div class="container ">
  <!-- NavBar Section-->
  <div class='navbar'></div>
  <!-- Banner Section -->
  <%= partial 'partials/banner'%>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%# <%= partial 'partials/projects' %>
  <!-- Projects2 Section -->
  <%= partial 'partials/projects2' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
